.filter-posts-form {
    display: flex;
    flex-direction: row;
}

.filter-posts-form input {
    width: 100%;
    border: solid thin black;
    background-color:  #f1f1f1;
    flex-grow: 2;
    padding: 0.25rem;
    font-size: inherit;
}

.filter-posts-form button {
    padding: 0 0.5rem;
    flex-grow: 1;
    border: solid thin black;
    background-color:  black;
    color: #f1f1f1;
    font-size: inherit;
    cursor: pointer;
}